# Analyse des ventes
---
<div class="alert alert-block alert-info">
<b>üó£</b>Ce projet est un exemple dont le but est de vous aidez √† envisager les probl√®mes li√©s √† votre entreprise sous l'angle de l'analyse de vos donn√©es. Notre objectif  est de vous d√©montrer que l'extraction de connaissances √† partir de vos donn√©es facilite les prises de d√©cisions et constitue un avantage strat√©gique.
</div>

## Sommaire
A titre d'exemple, __nous analysons les ventes d'une entreprise fictif en ligne d‚Äô√©lectronique localis√©e au US__.
1. [Pr√©sentation des donn√©es](#load)
2. [Exploration et pr√©paration des donn√©es](#cleanning)
3. [Augment Data with Additional Column](#augment)
4. [Questions](#question)

In [50]:
import os
import pandas as pd
import numpy as np
import plotly.express as px
np.random.seed(42)

## 1. Pr√©sentation des donn√©es 
---

A titre d'exemple, __nous analysons les ventes d'une entreprise fictif en ligne d‚Äô√©lectronique localis√©e au US__. Lorsqu'un achat est r√©alis√© en ligne, des informations sur le client sont collect√©es et sauvegard√©es dans une base de donn√©es. Cette base de donn√©es forme le d√©part de notre analyse car elle contient des informations pertinentes sur nos clients, tel que les _produits achet√©s_ par ce dernier, _l'heure d'achat_ o√π encore _l‚Äôadresse de livraison_. En outre, __d√©finir l'ensemble des informations appropri√©es √† collecter sur nos clients afin de mener √† bien une analyse de qualit√© est une √©tape indispensable dans le processus d‚Äôanalyse des donn√©es__. Voici-ci dessous un descriptif des donn√©es collecter pour chaque client dans le cadre de notre exemple.

In [51]:
data = pd.read_csv('all_data.csv')
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

### Information Compl√©mentaire sur les donn√©es collect√©es
- __ID__, num√©ro unique d√©finissant le client 
- __Produit__, nom du mat√©riel informatique achet√© 
- __Quantit√© command√©e__, nombre d‚Äôexemplaires vendu
- __Prix__, prix unnitaire de chaque produit
- __Date__, date et heure de l'achat
- __Adresse__, adresse de livraison

__Avant d'analyser les ventes en ligne de notre entreprise il est n√©cessaire d'explorer et de pr√©parer nos donn√©es__. Cet √©tape est indispensable et souvent fastidieuse, elle jouera un role pr√©pond√©rant dans la qualit√© de notre analyse.

---
# 2. Explorartion et pr√©paration des donn√©es
<a id=cleanning></a>
L‚Äôapparition de donn√©es manqunates ou erron√©es est quasi innevitable lors de la collecte.
__Il est donc essentiel d'explorer notre jeu de donn√©es afin de rep√©rer et filtrer les donn√©es inutilisables__

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

Nous pouvons remarquer que sur les 186 850 lignes de notre base de donn√©es , __nous avons un total de 186 305 ventes, le reste (soit 545 lignes) correspond √† des lignes entieres de donn√©es manquantes (NaN)__. Voir la table ci-dessous

In [53]:
data[data.isnull().any(1)] # affiche les lignes de donn√©es manquantes

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
264,NaN,NaN,NaN,NaN,NaN,NaN
648,NaN,NaN,NaN,NaN,NaN,NaN
680,NaN,NaN,NaN,NaN,NaN,NaN
1385,NaN,NaN,NaN,NaN,NaN,NaN
1495,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
185795,NaN,NaN,NaN,NaN,NaN,NaN
185868,NaN,NaN,NaN,NaN,NaN,NaN
185887,NaN,NaN,NaN,NaN,NaN,NaN
185960,NaN,NaN,NaN,NaN,NaN,NaN
186580,NaN,NaN,NaN,NaN,NaN,NaN

Ces lignes enti√®res de donn√©es manquantes(NaN) n'ont pas d'int√©r√™t et bloquerons notre marge de man≈ìuvre dans les prochaines √©tapes de notre analyse. __Il faut les supprimer!__

In [54]:
data.dropna(how='all',inplace=True) # supprime les lignes manquantes
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

Et voila, on a un total de 186 305 lignes pour 186 305 donn√©es non null - pour chaque colonne. __Il n'y a plus de donn√©es manquantes(NaN) dans  notre tableau ü•≥__

Cependant apr√®s investigation, __on remarque qu'il y a d'autre donn√©es erron√©es dans notre tableau__ que nous allons supprimer. Voir les deux cellules ci-dessous

In [55]:
data[data['Order Date'].str.contains('Or')]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
254,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
705,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1101,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2875,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3708,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
183671,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184012,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184041,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184275,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186532,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [56]:
data = data[data['Order Date'].str[:2] != 'Or']

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

Une fois que toutes les donn√©es erron√©es sont filtr√©es __nous pouvons convertir chaque collones au format le plus adapt√©__, c'est √† dire entier pour les quantit√© commander ou float pour le prix unitaire !

In [60]:
data['Price Each'] = data['Price Each'].astype('float32')
data['Quantity Ordered'] = data['Quantity Ordered'].astype('int32')
data.loc[:,'Order Date'] = pd.to_datetime(data['Order Date'])

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int32
 3   Price Each        185950 non-null  float32
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
dtypes: datetime64[ns](1), float32(1), int32(1), object(3)
memory usage: 8.5+ MB

Une meilleure connaissance des donn√©es nous permet d'augmenter nos id√©es lors de l'analyse en creeant de nouveau param√®tres ! Ce proc√©d√© est recursif et peut etre develloper lorsque l'on obtient de nouvelle idee lors de l'analyse

---
# 3. Augment Data with Additional Column
<a id=augment><a/>

### Month and Hour

In [ ]:
data.loc[:,'Month'] = data['Order Date'].dt.month
data['Hour'] = data['Order Date'].dt.hour
data.head()

### Total Price

In [ ]:
data['Sales'] = data['Price Each'] * data['Quantity Ordered']
data.head()

### City and State

In [ ]:
def get_city(adress):
    return adress.split(',')[1]

def get_state(adress):
    return adress.split(',')[2].split(' ')[1]

data['City'] = data['Purchase Address'].apply(lambda x:f'{get_city(x)} ({get_state(x)})')
data.head()

**we can also use**: more efficient / less readable:
```python
data['City'] = data['Purchase Address'].str.split(',').str.get(1) 
data['State'] = data['Purchase Address'].str.split(',').str.get(2).str.split(' ').get(0)
```

---
# 4. Questions
<a id=question><a/>

## What was the best month of sales? How much was earn that month?

In [ ]:
sale_per_month = data.groupby('Month')['Sales'].sum()
sale_per_month.sort_values(ascending=False)

In [ ]:
plt.figure(figsize=(10,8))
sale_per_month.plot.bar()
plt.ylabel('Sales in USD ($)', fontsize=16)
plt.xlabel('Month number', fontsize=16)
plt.title('Total Sales per Month', fontsize=20)
save_fig('Sale_per_each_month')
plt.show()

---
## What city had the highest number of sales?

In [ ]:
city_sales = data.groupby('City').sum()['Sales']
city_sales

In [ ]:
plt.figure(figsize= (10,8))
city_sales.plot.bar()
plt.xlabel('City',fontsize =16)
plt.ylabel('Sales in USD ($)', fontsize=16)
plt.title('Sales in Millions by City', fontsize=20)
save_fig('Sales_by_City')
plt.show()

---
## What time we should display advertisement to maximize likelihood of customer's buying product?

In [ ]:
buying_hours = data.groupby('Hour').sum()['Quantity Ordered']
buying_hours.sort_values(ascending=False)

In [ ]:
plt.figure(figsize=(10,8))
buying_hours.plot.bar()
plt.title('Quantity of purchase per hours', fontsize=20)
plt.ylabel('Quantity ordered', fontsize=16)
plt.xlabel('Hour', fontsize=16)
plt.xticks(rotation= 0)
save_fig('quantity_ordered_per_hours')
plt.show()

---
## What products are more often solde together?

In [ ]:
# drop the command of only one product
multi_purchase = data[data['Order ID'].duplicated(keep=False)]

In [ ]:
# gather in one cell all article purchase by 'Order ID'
multi_purchase.loc[:,'Grouped'] = multi_purchase.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

In [ ]:
# drop the duplicate ID
multi_purchase = multi_purchase.drop_duplicates(subset='Order ID')
multi_purchase.head()

In [ ]:
# Count the number of combination 
from itertools import combinations
from collections import Counter

count = Counter()

for row in multi_purchase['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

for key,value in count.most_common(10):
    print(key, value)

 ‚Ü≥ Referenced: [stackoverflow](https://stackoverflow.com/questions/52195887/counting-unique-pairs-of-numbers-into-a-python-dictionary)

---
### What product sold the most? Why do you think it sold the most?

In [ ]:
product_sales = data.groupby('Product').sum()['Quantity Ordered']
product_sales

In [ ]:
plt.figure(figsize=(10,8))
product_sales.plot.bar()
plt.title('The product sold the most', fontsize=20)
plt.ylabel('Quantity Ordered', fontsize=16)
save_fig('product_sold_the_most')
plt.show()

In [ ]:
prices = data.groupby('Product').mean()['Price Each']

In [ ]:
fig, ax1 = plt.subplots(figsize=(10,8))
ax2 = ax1.twinx()
ax2.plot(prices.index, prices, color='r')
ax1.bar(product_sales.index, product_sales, color='b',alpha=0.6)

ax1.set_ylabel('Quantity Ordered', color='b')
ax2.set_ylabel('Price ($)', color='r')
ax1.set_xticklabels(prices.index, rotation='vertical', size=8)
save_fig('Most_saled_product')