In [1]:
import pandas as pd
df = pd.read_json('250_best_scorer.json')

In [2]:
# test
# df.info()
# df['test'] = df['goals'] + df['assists'] == df['total']
# df['test'].value_counts()

In [3]:
df['name'].duplicated().value_counts()

False    250
Name: name, dtype: int64

In [4]:
df[df['name'] == 'Riyad Mahrez']

,name,club,age,league,nationality,match_played,goals,assists,total
107,Riyad Mahrez,Man City,29,England,Algeria,22,7,10,17

Some value are present multiple time in the DataFrame !
-> Is there a probleme when we fetch the data or just a problem on the internet page?

In [5]:
df = df.drop_duplicates(['name'])
df.shape

(250, 9)

# Feature engineering

In [6]:
df['goal_per_matchs'] = (df['goals']/ df['match_played'])
df['minutes_per_goal'] = ((df['match_played'] * 90) / df['goals'])
df['minutes_per_goal'] = df['minutes_per_goal'].astype('int8')

In [10]:
df.head()

,name,club,age,league,nationality,match_played,goals,assists,total,goal_per_matchs,minutes_per_goal
0,Ciro Immobile,Lazio,30,Italy,Italy,26,27,7,34,1.038462,86
1,Odsonne Edouard,Celtic,22,Scotland,France,25,20,10,30,0.800000,112
2,Jadon Sancho,Bor. Dortmund,19,Germany,England,22,14,15,29,0.636364,-115
3,Timo Werner,RB Leipzig,23,Germany,Germany,24,21,7,28,0.875000,102
4,James Forrest,Celtic,28,Scotland,Scotland,26,10,16,26,0.384615,-22

# Save

In [8]:
df.to_csv('best_scorer.csv')

# Test

In [7]:
df.sort_values('goals', ascending=False, inplace=True)

In [8]:
list(df['name'][:10])

['Ciro Immobile',
 'Erling Haaland',
 'Robert Lewandowski',
 'Cristiano Ronaldo',
 'Timo Werner',
 'Odsonne Edouard',
 'Shon Weissman',
 'Juanfri',
 'Kodjo Fo Doh Laba',
 'Ivan Trickovski']